<%- include('partials/header')%>
    <!--  -->
    <%- include('partials/nav')%>

        <div class="container text-light bg-dark p-5">
            <h1 class="container text-danger p-5 ">The best way to predict the future is
                to create it</h1>
            <hr>
            <h2 class="container text-primary p-5 ml-5">Apply For Job 'HERE </h2>
            <hr>
            <a class="btn btn-warning text-primary gap-5  list-group-item border-0 d-flex justify-content-center"
                href="/signup">Apply Now</a>
            <br>
            <a class="btn btn-warning text-primary gap-5  list-group-item border-0 d-flex justify-content-center"
                href="/signin">Already Applied</a>
        </div>









        <%- include('partials/footer')%>